@tailwind base;
@tailwind components;
@tailwind utilities;


.by-bitovi {
  width: 85px;
  height: 100%;
  background: url("./by-bitovi-logo.svg") no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  display: inline-block;
}

/** Graph Styles */

.focus line {
    stroke: #E4002B;
    /*fill: none;*/
    stroke-width: 3;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

.mean line {
    stroke: gray;
    /*fill: none;*/
    stroke-width: 3;
}

.mean circle {
	fill: none;
	stroke: gray;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text  {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.dot {
    stroke: #293b47;
    fill: #7A99AC
}
.overlay {
	fill: none;
	pointer-events: all;
  touch-action: none;
}


.area {
	opacity: 0.2;
}

#chartdiv {
	height: 480px;
}


#pdisplay{
	font-size: 26px;
	font-family: 'Roboto Slab', serif;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}


.configure-estimation {
	grid-template-columns: max-content max-content 1fr;
}
/** mobile adjustments **/

@media screen and (max-width: 600px) {
  .help-text {
		display:  none;
	}
	.configure-estimation {
		grid-template-columns: max-content max-content;
	}
}
