/** Graph Styles */




.focus line {
    stroke: #E4002B;
    /*fill: none;*/
    stroke-width: 3;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

.mean line {
    stroke: gray;
    /*fill: none;*/
    stroke-width: 3;
}

.mean circle {
	fill: none;
	stroke: gray;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text  {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.dot {
    stroke: #293b47;
    fill: #7A99AC
}
.overlay {
	fill: none;
	pointer-events: all;
}


.area {
	opacity: 0.2;
}

#chartdiv {
	width:768px;
	height: 500px;
}


#pdisplay{
	font-size: 26px;
	font-family: 'Roboto Slab', serif;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}
