@tailwind base;
@tailwind components;
@tailwind utilities;


.by-bitovi {
  width: 85px;
  height: 100%;
  background: url("./by-bitovi-logo.svg") no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  display: inline-block;
}

.bitovi-dots {
    background-color: #002A2D;
    background-image:
    
            radial-gradient(circle 1px at 10px 10px, #005156 1px, transparent 1.1px),
    radial-gradient(circle 3px at 170px 110px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 490px 130px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 970px 1010px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 370px 810px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 1070px 10px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 1090px 570px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 970px 810px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 170px 390px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 830px 430px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 710px 210px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 730px 170px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 90px 390px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 430px 1090px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 790px 1170px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 350px 430px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 150px 770px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 1150px 310px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 370px 30px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 470px 1190px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 470px 390px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 550px 50px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 850px 330px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 190px 890px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 350px 510px, #005156 3px, transparent 3.1px),
    radial-gradient(circle 3px at 30px 370px, #005156 3px, transparent 3.1px);
    background-size: 20px 20px, 1200px 1200px;
    background-position: -10px -10px;
}



/** Graph Styles */

.focus line {
    stroke: #B3B3B3;
    /*fill: none;*/
    stroke-width: 3;
}

.focus circle {
	fill: none;
	stroke: steelblue;
}

.mean line {
    stroke: #F5532D;
    /*fill: none;*/
    stroke-width: 3;
}

.mean circle {
	fill: #F5532D;
	stroke: #F5532D;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text  {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.dot {
    stroke: #005156;
    fill: #007A82;

}
.overlay {
	fill: none;
	pointer-events: all;
  touch-action: none;
}


.area {
	opacity: 0.2;
}

#chartdiv {
	height: 460px;
}


#pdisplay{
	font-size: 26px;
	font-family: 'Roboto Slab', serif;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}


.configure-estimation {
	grid-template-columns: max-content max-content 1fr;
}
/** mobile adjustments **/

@media screen and (max-width: 600px) {
  .help-text {
		display:  none;
	}
	.configure-estimation {
		grid-template-columns: max-content max-content;
	}
}
